{% extends "layout.html" %}
{% block content %}
<h1>Guide and Teach</h1>
<h4>About</h4>
<div class="about">
    <p>
        Guide and Teach is a website designed with independent teachers and tutors in mind. Many schools have either desisgned their own websites
        or have purchased a third party software to help manage grading and classes. Unfortunately tutors and independent teachers do not have these
        same tools at their disposal; hence Guide and Teach. With this website, teachers can now create courses to keep track of their students.
        Not only can they register students in courses, they can also keep track of their progress with a grading system, all with an easy to use layout.
    </p>
</div>
<h4>How to Use</h4>
<div class="about">
    <p>
        This is a simple guide in case the user has questions about how to use the website. To add courses, click the "Add a Course" button on the navigation bar
        on the top of the page. If you submitted the form with a mistake, don't worry - from the course page you can click the "update course info" button to make changes.
        To access the course page, all you have to do is click on the name of the course in the blue heading of the course table. Once you're in the course page, you will
        have four buttons to work with. You can add a student, go back to the previous page, update the course information, or delete the course.
        If you accidentally click the delete button - don't fret; you will get a warning before the course is actually deleted.
    </p>
    <p>
        Once you've added a student, you will be able to click that student's name to go to that student's page. From here you will find a very similar
        button layout as the previous page. With these you can return to the course, add a grade, edit student information, or delete the student.
        Deleting the student will not delete the course. Once a grade has been added, you can click on the assignment name to view the page for that 
        assignment and make changes as needed.
    </p>
</div>
<h4>Contact Information</h4>
<div class="about">
    <p>
        If you have any additional questions, comments, or concerns regarding Guide and Teach, please feel free to reach out and contact me
        through my LinkedIn.
    </p>
</div>
{% endblock content %}