{% extends "layout.html" %}
{% block content %}
<p>This will become the about page for this project. Ideally users will first see this page,
    then they will go on to the login or register page, from which they will be able to access their
    courses and students.

    This is in desperate need of CSS styling.

    I believe that this page should remain as an informational homepage of sorts. When teachers log in they will be redirected
    to a page where their active courses are listed.
</p>
{% endblock content %}