{% extends "layout.html" %}
{% block content %}
<h1>Guide and Teach</h1>
<div class="about">
    <p>
        Guide and Teach is a website designed with independent teachers and tutors in mind. Many schools have either desisgned their own websites
        or have purchased a third party software to help manage grading and classes. Unfortunately tutors and independent teachers do not have these
        same tools at their disposal; hence Guide and Teach. With this website, teachers can now create courses to keep track of their students.
        Not only can they register students in courses, they can also keep track of their progress with a grading system, all with an easy to use layout.
    </p>
</div>
<h4>How to Use:</h4>
<div class="about">
    <p>
        This is a simple guide in case the user has questions about how to use the website.
    </p>
</div>
{% endblock content %}