{% extends "layout.html" %}
{% block content %}
    <h1>Courses</h1>
    {% for course in courses %}
    {% if course.user == current_user %}
        <article>
            <table class="yes">
                <thead>
                    <tr>
                        <td><a href="{{ url_for('single_course', course_id=course.id) }}">{{ course.course_title }}</a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>{{ course.course_desc }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    {% endif %}
    {% endfor %}
{% endblock content %}