{% extends "layout.html" %}
{% block content %}
    <h1>Courses</h1>
    <div class="course_desc">
        <p>To access, view, or change any information within the course, click on the course title.</p>
    </div>
    {% for course in courses %}
    {% if course.user == current_user %}
        <article>
            <table>
                <thead>
                    <tr>
                        <td><a class="white" href="{{ url_for('single_course', course_id=course.id) }}">{{ course.course_title }}</a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>{{ course.course_desc }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    {% endif %}
    {% endfor %}
{% endblock content %}