{% extends "layout.html" %}
{% block content %}
    <h1>Courses</h1>
    {% for course in courses %}
        <article>
            <table class="yes">
                <thead>
                    <tr>
                        <td>{{ course.course_title }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>{{ course.course_desc }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    {% endfor %}
{% endblock content %}