{% extends "layout.html" %}
{% block content %}
        <article>
            <h1>{{ course.course_title }}</h1>
            <div class="about"><div class="course_desc"><p>{{ course.course_desc }}</p></div></div>
            <table class="table-striped">  
                <thead>
                    <tr>
                        <td><strong>Students:</strong></td>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    {% if student.course == course %}
                    <tr>
                        <td><a href="{{ url_for('students.single_student', student_id=student.id, course_id=course.id) }}">{{ student.student_name }}</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% if course.user == current_user %}
            <div class="ralph">
            <div class="btn-group btn-group ml-4 mr-4" role="group">
                <a class="btn btn-primary btn-sm mt-1 mb-1 m-1" href="{{ url_for('students.add_student', course_id=course.id) }}">Add Student</a>
                <a class="btn btn-info btn-sm mt-1 mb-1 m-1" href="{{ url_for('courses.course_home') }}">Back to Courses</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1 m-1" href="{{ url_for('courses.update_course', course_id=course.id)}}">Update Course Information</a>
                <button type="button" class="btn btn-danger btn-sm mt-1 mb-1 m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
            </div>
            {% endif %}
        </article>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Course? All students and grades within this course will be deleted too.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="{{ url_for('courses.delete_course', course_id=course.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
                </div>
            </div>
            </div>
        </div>
{% endblock content %}