{% extends "layout.html" %}
{% block content %}
        <article>
            <table class="yes">
                <thead>
                    <tr>
                        <td>{{ course.course_title }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>{{ course.course_desc }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if course.user == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_course', course_id=course.id)}}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
            {% endif %}
        </article>
{% endblock content %}