{% extends "layout.html" %}
{% block content %}
        <article>
            <h2>{{ grade.assignment }}</h2>
            <table class="cool">
                <thead>
                    <tr>
                        <td><strong>Assignment</strong></td>
                        <td><strong>score</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ grade.assignment }}</td> 
                        <td>{{ grade.score }}/{{ grade.max_score }}</td>
                    </tr>
                </tbody>
            </table>
            {% if grade.user == current_user %}
            <div class="ralph">
                <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('single_student', course_id=course_id, student_id=student_id) }}">Back to Student Overview</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_grade', student_id=student_id, course_id=course_id, grade_id=grade.id) }}">Update Grading Info</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete Grade</button>
            </div>
            {% endif %}
        </article>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Assignment? This cannot be undone.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="{{ url_for('delete_grade', student_id=student_id, course_id=course_id, grade_id=grade.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
                </div>
            </div>
            </div>
        </div>
{% endblock content %}