{% extends "layout.html" %}
{% block content %}
<p>This will become the about page for this project. Ideally users will first see this page,
    then they will go on to the login or register page, from which they will be able to access their
    courses and students.

    Possible feature: Allow students to make accounts, where the teachers can add permission for them to view
    their grades. This will be a secondary feature, in fact, this whole text block will be removed soon. This is in desperate need of CSS styling.
</p>
{% endblock content %}