p {
    padding: 10px;
    margin: 5px;
}
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

article {
  display: flex;
  flex-direction: column;
}

table {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 10%;
  margin-right: 10%;
}

thead {
  border: 1px solid black;
  color: whitesmoke;
  background-color: darkblue;
  margin: 5px;
  padding: 1em;
}

/* tr {
  border: 1px solid black ;
} */

td {
  /* border: .5px solid grey; */
  margin: 2px;
  padding: 5px;
}

h1, h2 {
  text-align: center;
}

.ralph {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.course_desc {
  text-align: center;
}

.white {
  color: whitesmoke;
}

.white:hover {
  color: lightskyblue;
}